.nav {
  grid-area: n;
}
.aside {
  background-color: #7fff00;
}

.item {
  list-style-type: none;
}

.link {
  color: #ffffff;
  text-decoration: none;
}

.active {
  color: #ff00ff;
  text-decoration: none;
  font-weight: 600;
}
